<button class="btn btn-success" routerLink="/new">+ Ajouter</button>
<br><br>
<table class="table table-bordered table-striped" *ngIf="personnes.length != 0">
  <thead>
    <th>nom</th>
    <th>prenom</th>
    <th>Actions</th>
  </thead>
  <!-- directive structurelle -->
  <tbody>
    <tr *ngFor="let p of personnes">
      <td>{{ p.nom }}</td>
      <td>{{ p.prenom }}</td>
      <td>
        <button class="btn btn-secondary" (click)="onDeleteElement(p.id)">Update</button>
        <button class="btn btn-danger" (click)="onDeleteElement(p.id)">Delete</button>
        <button class="btn btn-primary">CV</button>
      </td>
    </tr>
  </tbody>
</table>